:root {
  /* COLORS */
  /* --white: #E1EBED;
  --black: #293840;
  --yellow: #e5bec2;
  --blue: #ca7584;
  --lightBlack: #5e6867; */

  --white: #ffffff;
  --black: #212329;
  --yellow: #97dafd;
  --blue: #ed008c;
  --lightBlack: #000000;

  /* --white: #E1EBED;
  --black: #303539;
  --yellow: #FFE556;
  --blue: #00BCF0;
  --lightBlack: #44484B; */

  /* FONT */
  --fontFamily: "Montserrat", sans-serif;

  /*! Add font sizes variables  */
}

/* ---------GLOBAL--------- */
* {
  margin: 0;
  padding: 0;
  font-family: var(--fontFamily);
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--lightBlack);
  font-size: 16px;
  color: var(--white);
} /* 1 rem = 10 px */

::-webkit-scrollbar {
  width: 0;
}

/* ---------SHARED--------- */
header, #main_container, footer {
  width: 60%;
  position: relative;
  left: 20%;
}

.paragraph {
  font-size: 1.65rem;
  letter-spacing: .2rem;
  line-height: 2.4rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 11rem;
  height: 6rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;

  background-color: transparent;
  border-color: var(--yellow);
  border-radius: .7rem;
  border-style: solid;

  color: var(--white);
  font-size: 1.5rem;

  cursor: pointer;
}
.button img {
  width: 2rem;
  height: 2rem;
}

.yellow__btn:hover {
  background-color: var(--yellow);
  border-color: transparent;
  color: var(--black);
}

.blue__btn {
  border-color: var(--blue);
  background-color: transparent;
  color: var(--white);
}
.blue__btn:hover {
  border-color: transparent;
  background-color: var(--blue);
  color: var(--black);
}

.imageOff, .button:hover .imageOn {
  display: none;
}
.imageOn, .button:hover .imageOff {
  display: block;
}

.fit_image {
  object-fit: scale-down;
  height: 5rem;
  width: 5rem;
}

/* ---------NAVIGATION--------- */
header {
  color: var(--blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  padding: 2rem 0;
}

@media (min-width: 1440px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;

    height: 10.5rem;
    padding: 0;
  }
}

.logo {
  font-size: 3.2rem;
  font-weight: 600;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  text-align: center;
}

@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
    gap: 4rem;

    text-align: initial;
  }
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--yellow)
}

/* ---------MAIN--------- */
main {
  background-color: var(--black);
}

#main_container {
  padding-top: 5rem;
  padding-bottom: 5rem;

  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 5.5rem;
}


/* ABOUT ME */
#about_me {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 3rem;

  text-align: center;
}

@media (min-width: 1440px ) {
  #about_me {
    height: 28rem;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;

    align-items: initial;
    text-align: initial;
  }
}

h1 {
  font-size: 3.4rem;
  font-weight: 600;
}
h2 {
  margin-top: 1rem;

  font-size: 2.6rem;
  font-weight: 400;
  color: var(--white);
}

#personal_information {
  flex-grow: 1;
  position: relative;
}

#degree {
  color: var(--blue);
}

#my_description {
  position: relative;
  margin-top: 3rem;
}

@media (min-width: 1440px) {
  #my_description {
    width: 75%;

    position: absolute;
    bottom: 0;
  }
}

span {
  color: var(--yellow);
}

#identity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

@media (min-width: 1440px) {
  #identity {
    flex-direction: column;
    gap: 0;
  }
}

#myPhoto {
  width: 20rem;
  height: 20rem;
  border-radius: 20rem;

  /*! Temporary property */
  background-color: var(--white);
}

#curriculum {
  width: 13rem;
  height: 4rem;
  align-self: center;
}

/* PROJECTS */
hr {
  border-color: var(--blue);
}

.separetor {
  grid-column: 1/3;
}
.section_title {
  margin-top: 2rem;
  text-align: center;
}

#projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  gap: 2.5rem;
}
.project_card {
  width: 40rem;
  height: min-content;
  padding: 1rem;

  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(var(--blue), var(--yellow)) 1;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project_image {
  width: 40rem;
  height: 22.7rem;
  object-fit: contain;
}

.technologies {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.technology__container {
  display: inline-flex;
  justify-content: center;

  background-color: var(--white);
  width: min-content;

  padding: .8rem .8rem;
  border-radius: 100%;

  color: var(--black);
}

.technology__container img {
  width: 2.5rem;
  height: 2.5rem;
}

.technology__container p {
  font-size: 1.5rem;
}

h3 {
  font-size: 2.2rem;
  text-align: center;
}
.project_description {
  text-align: center;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  -webkit-line-clamp: 4; /* Max line number */
  overflow: hidden;
  text-overflow: ellipsis;
}

.project_buttons {
  display: flex;
  justify-content: space-evenly;
}

/* STACK */

.stacks__container {
  margin: 2rem 2rem 0 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  justify-content: center;
  column-gap: 2rem;
  row-gap: 1.5rem;
}

.stack_card {
  width: 14.5rem;
  padding: .5rem 1rem;

  background-color: var(--white);
  color: var(--black);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;

  border-radius: 1.4rem;
}

.rightContent {
  flex: 1;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.auxiliar {
  width: min-content;
}

/* ---------FOOTER--------- */
footer {
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: 1440px) {
  footer {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
}

.built__container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  text-align: center;
  align-items: center;
}

@media (min-width: 1440px) {
  .built__container {
    gap: 5rem;
    flex-direction: row;

    text-align: initial;
    align-items: initial;
  }
}

.social_media {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

@media (min-width: 1440px) {
  .social_media {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
}

h4 {
  font-size: 2rem;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

@media (min-width: 1440px) {
  .grid {
    gap: 0;
  }
}

#two_rows {
  grid-row: span 2;
}

.built_with {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}

@media (min-width: 1440px) {
  built_with {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
  }
}

.align-bottom {
  align-self: end;
}
.align-center {
  align-self: center;
}

#developer {
  color: var(--yellow);
}

footer hr {
  border-color: var(--white);
}
