@import "tailwindcss";

/* Oculta scrollbars sin desactivar scroll */
.scroll-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE y Edge */
}
.scroll-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari */
  scroll-behavior: smooth;
}
